.label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--static-space-8);

  &:has(.input:disabled) {
    cursor: not-allowed;
    color: var(--neutral-on-background-weak);
  }
}

.input {
  cursor: pointer;
  margin: 0;
  width: var(--static-space-20);
  height: var(--static-space-20);
  min-width: var(--static-space-20);
  min-height: var(--static-space-20);

  border: 1px solid var(--solid-border-color-neutral);
  border-radius: var(--static-space-4);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--surface-color-neutral-weak);
    border-color: var(--solid-border-color-neutral);
  }

  &:checked {
    &:not(:disabled) {
      background-color: var(--brand-solid-medium);
      border-color: var(--solid-border-color-brand);
    }
  }
}

.checkIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
