:root {
  --radius-full: 999rem;

  --radius-xxs: 0.5rem;
  --radius-xs: 1rem;
  --radius-xs-nest-4: 1.25rem;
  --radius-xs-nest-8: 1.5rem;

  --radius-s: 1.25rem;
  --radius-s-nest-4: 1.5rem;
  --radius-s-nest-8: 1.75rem;

  --radius-m: 1.5rem;
  --radius-m-nest-4: 1.75rem;
  --radius-m-nest-8: 2rem;

  --radius-l: 1.75rem;
  --radius-xl: 2rem;
}
