:root {
  /* FONT FAMILY */
  --font-family-body: var(--font-primary);
  --font-family-heading: var(--font-secondary);
  --font-family-label: var(--font-tertiary);

  --font-size-heading-multiplier: 1;
  --font-size-body-multiplier: 1;
  --font-size-label-multiplier: 1;

  --line-height-heading-multiplier: 1;
  --line-height-body-multiplier: 1;
  --line-height-label-multiplier: 1;
}
